@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Sour Gummy", sans-serif;
}

*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
